@page "/game/{Id:guid}/question"
@layout EmptyLayout


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"> @QuestionDetailModel.Text</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Creator will start this quiz any soon......</p>
    </div>
   
    <div class="relative grid gap-5 grid-cols-2 lg:grid-cols-4">
          @foreach (var answer in QuestionDetailModel.Answers)
          {
            <div @onclick="() => Choose()" class="px-10 py-20 text-center transition duration-300 transform bg-violet-700 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
              <p class="font-semibold text-gray-200">
                @answer.Text
              </p>
            </div>
          }
         </div>
    
  </div>
</section>



